:root {
  --clr-blue-900: #3b384f;
  --clr-blue-400: #518fe3;
  --clr-red-400: #dc143c;
  --clr-green-400: #5acc3d;
  --clr-green-200: #e7ffe1;
  --clr-grey-300: #7d7d7d;
  --clr-light-100: #fff;
}

button,
input {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

body {
  margin: 0 auto;

  background-color: var(--clr-blue-900);
  color: var(--clr-light-100);
  text-align: center;
  padding-top: 1rem;
  font-family: poppins, sans-serif;
}

.add-task {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  &__form {
    max-width: 20rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    input {
      background: rgb(255, 255, 255);
      height: 3rem;
      padding: 0 1rem;
      border-radius: 2rem 0 0 2rem;
      opacity: 0.8;
      
      
      transition: all 250ms ease;

      &:hover, &:focus {
        opacity: 1;
        color: var(--clr-blue-900);
      }
      
    }

    button {
        display: grid;
        place-items: center;

        height: 3rem;
        padding: 1rem;

        background-color: var(--clr-blue-400);
        color: var(--clr-light-100);

        border-radius: 0 2rem 2rem 0;

        transition: all 250ms ease;

        &:hover {
            background-color: var(--clr-green-200);
            color: var(--clr-green-400);
        }
    }
  }

  
}

.task-list {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .task {
        background-color: var(--clr-light-100);
        height: 3rem;
        display: flex;
        gap: 0.25rem;
        max-width: max-content;
        margin:  0 auto;
        padding: 0 1rem;
        border-radius: 2rem;

        .edit {
            color: #518fe3; 
           
        }

        i {
            opacity: 70%;
            transition: all 250ms ease;

            &:hover {
                color: var(--clr-red-400);
            }
            
            &.fa-check:hover {
                color: var(--clr-green-400);
            }

            
        }

       
    }

    .checked {
        background-color: var(--clr-green-200);

        input {
            text-decoration: line-through;
            color: #7d7d7d;
        }

        i {
            color: #5acc3d;
            &.fa-check:hover {
                color: var(--clr-red-400);
            }
        }
    }


  }
